<mat-spinner *ngIf="isRequestInProgress"></mat-spinner>
<div class="fixActionRow">
  <mat-form-field *ngIf="isEditModeEnabled;else nameStaticContent">
    <input [(ngModel)]="editableProduct.name" type="text" matInput value="{{product.name}}">
  </mat-form-field>
  <ng-template #nameStaticContent>
    <h2 mat-dialog-title>{{product.name}}</h2>
  </ng-template>
  <mat-dialog-content>
    <mat-grid-list [cols]="3">
      <mat-grid-tile>
        <img class="img-thumbnail" src="{{product.image}}" alt=""/>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="row">
          <div class="col-12">
            <h4>Cena:</h4>
          </div>
          <div class="col-12">
            <mat-form-field *ngIf="isEditModeEnabled;else priceStaticContent">
              <input [(ngModel)]="editableProduct.price" type="number" matInput value="{{product.price}}">
            </mat-form-field>
            <ng-template #priceStaticContent>
              <span>{{product.price}} zł</span>
            </ng-template>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="row">
          <div class="col-12">
            <h4>Ilość:</h4>
          </div>
          <div class="col-12">
            <mat-form-field *ngIf="isEditModeEnabled;else quantityStaticContent">
              <input [(ngModel)]="editableProduct.quantity" type="number" matInput value="{{product.quantity}}">
            </mat-form-field>
            <ng-template #quantityStaticContent>
              <span>{{product.quantity}} szt.</span>
            </ng-template>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <div *ngIf="isEditModeEnabled; else staticActionContent">
      <button mat-flat-button color="warn" (click)="cancel()">Anuluj</button>
      <button mat-flat-button color="primary" (click)="save(product)">Zapisz</button>
    </div>
    <ng-template #staticActionContent>
      <button mat-flat-button mat-dialog-close color="warn">Zamknij</button>
      <button mat-flat-button color="primary" (click)="edit()">Edytuj</button>
    </ng-template>
  </mat-dialog-actions>
</div>
