<mat-spinner *ngIf="isRequestInProgress"></mat-spinner>
<form [formGroup]="clientForm">
  <div class="fixActionRow">
    <mat-dialog-content>
      <mat-grid-list [cols]="2" rowHeight="1:1">
        <mat-grid-tile-header>
          <h4>
            Dodaj nowego klienta
          </h4>
        </mat-grid-tile-header>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="firstName" matInput placeholder="Imię" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="surname" type="text" matInput placeholder="Nazwisko" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="company" type="text" matInput placeholder="Nazwa firmy" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="street" type="text" matInput placeholder="Ulica" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="city" type="text" matInput placeholder="Miasto" required>
              </mat-form-field>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-list>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="country" type="text" matInput placeholder="Kraj" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="houseNumber" type="number" matInput placeholder="Numer domu" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="phoneNumber" type="number" matInput placeholder="Numer telefonu" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-form-field>
                <input formControlName="email" type="email" matInput placeholder="Email" required>
              </mat-form-field>
            </mat-list-item>
            <mat-list-item>
              <mat-select formControlName="clientType" value="HURT" placeholder="Typ" required>
                <mat-option *ngFor="let clientType of availableClientTypes"
                            [value]="clientType"> {{clientType.name}}</mat-option>
              </mat-select>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <div>
        <button mat-flat-button color="warn" (click)="cancel()">Anuluj</button>
        <button mat-flat-button type="submit" color="primary" (click)="save()">Zapisz</button>
      </div>
    </mat-dialog-actions>
  </div>
</form>
