<mat-spinner *ngIf="isRequestInProgress"></mat-spinner>
<div class="fixActionRow">
  <mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="fit" style="height: 72vh;">
      <mat-grid-tile colspan="2">
        <mat-card>
          <h4>Klient:</h4>
          <mat-form-field>
            <mat-select placeholder="Wybierz klienta..." [(ngModel)]="transaction.client" required>
              <mat-option *ngFor="let client of availableClients" [value]="client" (onSelectionChange)="onClientChoose()">{{client.company.name + ": " + client.firstName + " " + client.surname}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button color="accent" (click)="addNewClient()">Dodaj nowego klienta</button>
          <div *ngIf="errors.get('client')" class="mat-error">
            <p>{{errors.get('client')}}</p>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" rowspan="4">
        <mat-card id="products" style="width: 100%">
          <table style="width: 100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Select">
              <th mat-header-cell class="stretched" *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selectedDetails.hasValue() && isAllSelected()"
                              [indeterminate]="selectedDetails.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell class="stretched" *matCellDef="let product">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selectedDetails.toggle(product) : null"
                              [checked]="selectedDetails.isSelected(product)">
                </mat-checkbox>
              </td>
              <td mat-footer-cell *matFooterCellDef>
                <button mat-flat-button color="accent" (click)="deleteProductFromTransaction()">Usuń wybrane</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="Index">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let index = index"> {{index + 1}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="Name">
              <th mat-header-cell *matHeaderCellDef> Nazwa </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.product.name}} </td>
              <td mat-footer-cell *matFooterCellDef>
                <button mat-flat-button color="accent" (click)="addProductToTransaction()">Dodaj produkt</button>
              </td>
            </ng-container>

            <ng-container matColumnDef="Quantity">
              <th mat-header-cell *matHeaderCellDef> Ilość </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.quantity}} szt.</td>
              <td mat-footer-cell *matFooterCellDef>Suma: </td>
            </ng-container>

            <ng-container matColumnDef="UnitPrice">
              <th mat-header-cell *matHeaderCellDef> Cena Jednostkowa </th>
              <td mat-cell *matCellDef="let transactionDetails"> {{transactionDetails.product.price}} zł</td>
              <td mat-footer-cell *matFooterCellDef>{{getTotalCost()}} zł </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

          </table>
          <div *ngIf="errors.get('products')" class="mat-error">
            <p>{{errors.get('products')}}</p>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <button  mat-flat-button color="primary" (click)="submit()">Zatwierdź</button>
    <button mat-flat-button mat-dialog-close color="warn" >Zamknij</button>
  </mat-dialog-actions>
</div>
