<div class="container">
  <mat-card>
    <mat-card-content class="mat-elevation-z0">
      <mat-card-actions>
        <mat-grid-list cols="5" rowHeight="5:1">
          <mat-grid-tile>
            <button mat-flat-button color="primary" routerLink="">Powrót</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary" (click)="addNewClient()">Dodaj klienta</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary" [disabled]="selectedClients.selected.length == 0" (click)="delete()">Usuń wybranych klientów</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>

      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Select">
          <mat-header-cell class="stretched" *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selectedClients.hasValue() && isAllSelected()"
                          [indeterminate]="selectedClients.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell class="stretched" *matCellDef="let client">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectedClients.toggle(client) : null"
                          [checked]="selectedClients.isSelected(client)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="First Name">
          <mat-header-cell *matHeaderCellDef> Imię</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Last Name">
          <mat-header-cell *matHeaderCellDef> Nazwisko</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="City">
          <mat-header-cell *matHeaderCellDef> Miasto</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.address.city}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Country">
          <mat-header-cell *matHeaderCellDef> Kraj</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.address.country}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Email">
          <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let client"> {{client.contact.email}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let client; columns: columnsToDisplay" (click)="showClientDetails(client)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

      <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
          <mat-spinner align="end" *ngIf="clientsFetched == false"></mat-spinner>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
